<h1>QUIZ MAKER</h1>
<form *ngIf="(categories$ | async)?.length" [formGroup]="filterForm" (ngSubmit)="onSubmit()">

  <select id="categorySelect" formControlName="category" >
    <option value="" disabled  >Select a category</option>
    <option value="{{category.id}}" *ngFor="let category of categories$ |async " [innerHTML]="category.name | sanitizeHtml">
    </option>
  </select>

  <select id="difficultySelect" formControlName="difficulty">
    <option value="{{difficulty.value}}" *ngFor="let difficulty of difficulties ">
      {{difficulty.label}}
    </option>
  </select>

  <input  [disabled]="!filterForm.valid" id="createBtn" type="submit" value="Create">
</form>

<ng-container *ngIf=" (questions$ | async)?.length " >
  <div *ngFor="let question of (questions$ | async)  ">
    <app-quiz-question (optionClick)="optionClicked($event)" [question]="question"></app-quiz-question>
  </div>
  <a class="btn" *ngIf="showSubmitButton" [routerLink]="'/result'">Results</a>
</ng-container>

<div *ngIf="state == 'loading'">
  loading...
</div>

<div *ngIf="state == 'error'">
  Error while loading questions
</div>
