.option{
  border: 1px solid green;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  margin-right: 5px;
  color: green;
}

.selected{
  background-color: green;
  color: white;
}

.normal{
  border: 1px solid green;
  background-color: #fff;
  color: green;
  &:hover{
    background-color: green;
    color: white;
  }
}

.success{
  background-color: green;
  color: white;
}
.danger{
  background-color: red;
  color: white;
}
