.option{
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  &:hover{
    background-color: gray;
  }
}

.selected{
  background-color: lightgray;
}

.normal{
  background-color: #fff;
}
.selected{
  background-color: lightgray;
}
.success{
  background-color: green;
}
.danger{
  background-color: red;
}
