/* You can add global styles to this file, and also import other style files */
.btn{
  background-color: grey;
  padding: 12px;
  border-radius: 12px;
  display: block;
  text-align: center;
  color: white;
  margin-top: 12px;
}

h1{
  text-align: center;
}
